<!-- Blog Item -->
<div class="animate_top sg vk rm xm">
    <div class="c rc i z-1 pg">
        <img class="w-full rounded-10" src="{{ glide:news_main_image width='400' height='260' }}"
            alt="{{ news_main_image:alt }}" />

        <div class="im h r s df vd yc wg tc wf xf al hh/20 nl il z-10">
            <a href="{{ url }}" class="vc ek rg lk gh sl ml il gi hi">Ler Mais</a>
        </div>
    </div>
    <div class="yh">
        <div class="tc uf wf ag jq">
            <div class="tc wf ag">
                <img src="../images/icon-man.svg" alt="User" />
                <p>{{ author:name }}</p>
            </div>
            <div class="tc wf ag">
                <img src="../images/icon-calender.svg" alt="Calender" />
                <p>{{ date }}</p>
            </div>
        </div>
        <h4 class="ek tj ml il kk wm xl eq lb">
            <a href="{{ url }}">{{ title }}</a>
        </h4>
    </div>
</div>
