{{ collection:pages }}
{{ if slug == 'junte-se' }}
<section class="i pg gh ji">
    <!-- Bg Shape -->
    <img class="h p q" src="images/shape-16.svg" alt="Bg Shape" />

    <div class="bb ye i z-10 ki xn dr">
        <div class="tc uf sn tn un gg">
            <div class="animate_left to/2">
                <h2 class="fk vj zp pr lk ac">
                    {{ title }}
                </h2>
                <p class="lk">
                {{ subtitle_1 }}
                </p>
            </div>
            <div class="animate_right bf">
                <a href="{{ cta_link }}" target="_blank" class="vc ek kk hh rg ol il cm gi hi">
                    {{ cta_text }}
                </a>
            </div>
        </div>
    </div>
</section>
{{ /if }}
{{ /collection:pages  }}
