{{ collection:pages }}
{{ if slug == 'home' }}
<section class="gj do ir hj sp jr i pg">
    <!-- Hero Images -->
    <div class="xc fn zd/2 2xl:ud-w-187.5 bd 2xl:ud-h-171.5 h q r">
        <img src="images/shape-01.svg" alt="shape" class="xc 2xl:ud-block h t -ud-left-[10%] ua" />
        <img src="images/shape-02.svg" alt="shape" class="xc 2xl:ud-block h u p va" />
        <img src="images/shape-03.svg" alt="shape" class="xc 2xl:ud-block h v w va" />
        <img src="images/shape-04.svg" alt="shape" class="h q r" />
        <img src="{{  glide:hero_banner_image }}" alt="{{ hero_banner_image:alt }}" class="h q r ua" />
    </div>
    <!-- Hero Content -->
    <div class="bb ze ki xn 2xl:ud-px-0">
        <div class="tc _o">
            <div class="animate_left jn/2">
                <h1 class="fk vj zp or kk wm wb">{{ title }}</h1>
                <p class="fq">
                    {{ content }}
                </p>
                <div class="tc tf yo zf mb">
                    <a href="{{ cta_link }}" target="_blank" class="ek jk lk gh gi hi rg ml il vc _d _l">{{ cta_text
                        }}</a>

                    <span class="tc sf">
                        <a href="{{ cta_link }}" target="_blank" class="inline-block ek xj kk wm">{{ subtitle_1}}</a>
                        <span class="inline-block">{{ subtitle_2}}</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
{{ /if }}
{{ /collection:pages  }}
