<section id="features">
    <div class="bb ze ki yn 2xl:ud-px-12.5">
        <div class="tc uf zo xf ap zf bp mq">
            <!-- Small Features Item -->
            {{ features }}
            <div class="animate_top kn to/3 tc cg oq">
                <div class="tc wf xf cf ae cd rg {{ count % 2 ? "mh" : "nh" }}">
                    <img src="{{ feature_image }}" alt="{{ feature_image:alt }}" />
                </div>
                <div>
                    <h4 class="ek yj go kk wm xb">{{ feature_title }}</h4>
                    <p>{{ feature_content }}</p>
                </div>
            </div>
            {{ /features }}
        </div>
    </div>
</section>
